
*.aux
*.dvi
*.fdb_latexmk
*.fls
*.lof
*.log
*.gnuplot
*.table
3d_contourtmp0.dat
3d_contourtmp0.script
all_examples_contourtmp0.dat
all_examples_contourtmp0.script
all_examples.pdf
all_examples.tex
courses.lis
papers.lis
pricePSP.csv
pricePUP.csv
